@import url('https://fonts.googleapis.com/css?family=Raleway:200,100,400');

body {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    background: #333 url('stencil.website-coding.jpg') no-repeat center center / cover;
    color: #ccc;
    overflow: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    padding: 0rem 6rem;
    
}

h1, h2 {

    font-weight: 200;
    margin: 0.4rem;
    color: #aaa;
    
}

h1 {
    font-size: 3.5rem;
}

h2 {
    font-size: 2rem;
    /*color: #aaa;*/
}

@media(min-width: 1200px) {
    h1 {
        font-size: 5rem;
    }
}
@media(max-width: 800px) {
    .container {
        padding: 0 1rem;
    }
    h1 {
        font-size: 3rem;
    }
}

@media(max-width: 500px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 1.5rem;
    }
}